<div id="existing_purchases" border="0" cellspacing="0">
  
  <% tagged_purchases_for(basket).each do |purchase| %>
    <%= div_for_purchase(purchase) do %>
      <span class="purchase-quantity">
        <%= purchase.quantity %>
      </span>
      <span class="product-name">
        <%= link_to purchase.product.name, purchase.product %>
        @ <%= format_price(purchase.unit_price, false) %>
      </span>
      <span class="purchase-cost">
        <%= format_price(purchase.cost, false) %>
      </span>
      <span class="purchase-controls">
        edit
      </span>
    <% end %>
  <% end %>
  <div>
    <span></span>
    <span></span>
    <span class="purchase-cost">
      <strong style="border-top: 3px solid black">
        <%= format_price(basket.cost) %>
      </strong>
    </span>
  </div>
</div>