<h1>New Basket:</h1>

<%= form_for @basket do |form| %>
  <p>
    <%= form.label :shop_id, "Shop" %>
    <%= select :basket, :shop_id, Shop.all.map { |shop| [ shop.name, shop.id ] } %>
  </p>

  <p>
    <%= form.label :shop_date, "Shop Date" %>
    <%= date_select :basket, :shop_date, :use_month_numbers => true %> 
  </p>
  
  <%= form.submit "Create", :disable_with => 'Creating...' %>
<% end %>
