<%= render :partial => 'basket_header', :object => @basket %>

<em>Billing data hidden</em>
<!-- <%= form_for @basket do |basket_form| %>
  <%= render :partial => 'bills/pie_bills', :object => @basket.bills, :locals => { :form => basket_form }  %>
  <%= basket_form.submit 'Update bills' %>
<% end %> -->

<%= form_for [@basket, @basket.purchases.build], :html => { :autocomplete => 'off' } do |form| %>
  
  <span class="progress" style="display:none;"></span>

  <table class="new-product-wrapper">
    <tr>
      <td><%= form.text_field :quantity, :placeholder => 'No.' %></td>
      <td class="product-wrapper">
        <div id="product-cassette">
          <%= fields_for :product do |product_form| %>
            <%= product_form.text_field :name, :placeholder => 'Product Name' %>
            <%= product_form.text_field :ean, :placeholder => 'Product EAN', :tabindex => -1 %>
          <% end %>
        </div>    
      </td>
      <td>
        <span class="grey">£</span> 
        <%= form.text_field :unit_price, :placeholder => '(each)' %>
      </td>
    </tr>
  </table>
    
  <div style="display:none" class="multibuy-options">
    <% form.object.build_saving %>
    <%= form.fields_for :saving do |saving_form| %>
            
      <%= Saving::SAVING_TYPES.each do |type| %>
        <%= saving_form.radio_button :saving_type, type %>
      <% end %>
      
    <% end %>
  </div>
      
<% end %>

<div id="basket"><%= render @basket %></div>

