<p class="right" style="color:red">
  <%= link_to 'delete', @product, :method => :delete, :confirm => 'Are you sure?' %>
</p>

<h1>
  <%= @product.name %>
  <code>(<%= @product.ean || 'No EAN' %>)</code>
</h1>
<hr />

<p>You have bought <%= @product.purchase_count %> of these in total, from <%= pluralize(@product.baskets.length, 'shopping trip') %>.</p>
<p>Total spending: <%= format_price(@product.total_spending) %></p>
<p>Min paid: <%= format_price @product.purchases.reorder('unit_price_in_pence').first.try(:unit_price) %></p>
<p>Max paid: <%= format_price @product.purchases.reorder('unit_price_in_pence desc').first.try(:unit_price) %></p>