<h1>
  <%= @product.name %>
  <code>(<%= @product.ean || 'No EAN' %>)</code>
</h1>
<hr />

<p>You have bought <%= @product.purchase_count %> of these in total, from <%= pluralize(@product.baskets.length, 'shopping trip') %>.</p>
<p>Total spending: <%= format_price(@product.total_spending) %></p>
<p>Min paid: <%= format_price @product.purchases.except(:order).order('unit_price_in_pence').first.unit_price %></p>
<p>Max paid: <%= format_price @product.purchases.except(:order).order('unit_price_in_pence desc').first.unit_price %></p>