<!DOCTYPE html>
<html>
<head>
  <title>Food</title>
  <%= stylesheet_link_tag :all %>
  
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.ui.autocomplete", "jquery.ui.autocomplete.ext", "application" %>  
  
  <%= csrf_meta_tag %>
</head>
<body>

<div id="header">
  <%= render :partial => 'layouts/header' %>
</div>

<div id="content">
  <%= yield %>
</div>

</body>
</html>
